main {
    overflow: hidden;
}

.answer-container {
    
    display:flex;
    flex-direction:row wrap;
    justify-content: start;
    align-items: center;

    padding: 2px;
    

    color: white;
    height: auto;
}

.answer {

    background-color: #393e46;

    padding: 5px;
    height: auto;
    text-align: left;
}