<main>
    <div *ngIf="study !== null">
        <h3>
            {{study.question}}
            <span (click)="favoriteClick()" id="favorite-star">
                <i appFavorite class="bi-star-fill"></i>
            </span>
        </h3>

        <button (click)="answerTransition($event)" class="bunton">
            Show Answer&nbsp; &nbsp; </button>

        <br>
        <div class="answer-container" [@answerState]="answerState">
            <h5 class="answer" id="answer">{{study.answer}}</h5>
        </div>
    </div>
</main>